li, button, .nav_link {
    color: black;
}

.btn_link { 
    background-color: white;
    border: 3px solid black;
}
.link {
    color: black;
}
main {
    background: white;
}

.block {
    background: white;
    border: 3px solid black;
}
.text {
    color: black;
}

.header {
    background-color: rgb(197, 197, 197);
}

.main_header {
    background-color: rgb(197, 197, 197);
}

table {
    background: black;
}
